%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {protobuffs, ".*", {git, "git://github.com/jsvisa/erlang_protobuffs.git", {branch, "0.8"}}}
       ]}.

{eunit_opts, [verbose]}.

%% Fixes attempted removal of riak_pb directory by rebar_escripter
{escript_name, "doesnothavescript"}.
